<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="https://github.com/camembertaulaitcrew" target="_blank">Github</a></li>
    <li><a ng-href="https://www.youtube.com/camembertaulaitcrew" target="_blank">Youtube</a></li>
    <li><a ng-href="https://www.facebook.com/camembertaulaitcrew" target="_blank">Facebook</a></li>
    <li><a ng-href="https://soundcloud.com/camembert-au-lait-crew" target="_blank">SoundCloud</a></li>
  </ul>
  <h3 class="text-muted">camembertaulaitcrew.biz</h3>
</div>

<div class="jumbotron">
  <h1>camembert au lait crew</h1>
  <p class="lead">
    ...
  </p>
</div>

<div class="row marketing">
  <div class="col-md-6">
    <h4>Facebook</h4>
    <p>
      calc loves <a href="https://www.facebook.com/camembertaulaitcrew">People</a>
    </p>
    <!-- <div class="fb-like" data-href="https://www.facebook.com/camembertaulaitcrew" data-layout="standard" data-action="like" data-show-faces="true" data-share="true" data-width="340"></div> -->
    <div style="background: white" class="fb-like-box" data-href="https://www.facebook.com/camembertaulaitcrew" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="true" data-show-border="true"></div>
  </div>
  <div class="col-md-6">
    <h4>SoundCloud</h4>
    <p>
      calc loves <a href="https://soundcloud.com/camembert-au-lait-crew">Music</a>
      <iframe width="340" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/96137699&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
    </p>
  </div>
</div>
<div class="row marketing">
  <div class="col-md-6">
    <h4>Youtube</h4>
    <p>
      calc loves <a href="https://www.youtube.com/camembertaulaitcrew">Videos</a>
    </p>
    <iframe width="340" height="280" src="//www.youtube.com/embed/-_x5XNwviho" frameborder="0" allowfullscreen></iframe>
    <script src="https://apis.google.com/js/platform.js"></script>
    <div class="g-ytsubscribe" data-channel="camembertaulaitcrew" data-layout="full" data-count="default"></div>
  </div>
  <div class="col-md-6">
    <h4>Github</h4>
    <p>
      calc loves <a href="https://github.com/camembertaulaitcrew">Code</a>
      <div class="github-card" data-github="camembertaulaitcrew" data-width="340" data-height="150"></div>
      <script src="http://lab.lepture.com/github-cards/widget.js"></script>
    </p>
  </div>
</div>

<div>
  <div class="footer"></div>
  <div>
    <h4>♥ from camembert au lait crew</h4>
  </div>
</div>
